<!DOCTYPE html>
<html>
<head>
	<title><%= __('titleGlobal') %></title>

	<!-- Metas -->
	<meta charset="UTF-8">
	<meta name="description" content="Model WebRTC">
	<meta name="keywords" content="HTML,CSS,JavaScript">
	<meta name="author" content="Michael Tovar">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Import CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="icon" type="image/png" href="/img/logos/favicon.ico" />
	<link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.min.css">

<!-- Import Scripts For Front-End -->

<script src="javascripts/libs-js/jquery-3.2.1.min.js"></script>
<script src="javascripts/libs-js/bootstrap.min.js"></script>
<script src="javascripts/libs-js/peer.min.js"></script>
<script src="/javascripts/libs-js/script.js"></script>
<script src="bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

</head>
<!-- Start Body -->
<body>
	
	<!-- Start Header -->
	<div class="row">
		<div id="header" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="logo" class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
				<a href="<%= __('hrefLogo') %>" target="_blank">
					<img id="tiger" src="/img/logos/logo_shadow.png" title="<%= __('titleLogo') %>">
				</a>
			</div>
		</div>
	</div>
	<!-- Final Header -->

	<!-- Content -->

		<!-- Start High Menu -->
		<div id="menu-global" class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- User Me -->
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
					<div class="row">

						<video class="mini-cameras" autoplay="true"  id="videoUsr1" title="<%= __('titleMyCamera') %>">
							<!-- <source src="/img/video/Prueba011.mp4" type="video/mp4"> -->
						</video>
						<video autoplay="true" id="audioUsr1" style="display: none;"></video>

					</div>
				</div>

				<!-- Empty -->
				<div class="col-lg-3 col-md-3 col-sm-8 col-xs-8"></div>

				<!-- Timer -->
				<div title="<%= __('titleTimeFinish') %>" class="col-lg-2 col-md-2 col-sm-4 col-xs-7">
					<p id="timer" class="">00:00</p>
				</div>

				<!-- Empty -->
				<div class="col-lg-1 col-md-1 col-sm-8 col-xs-12">
					
				</div>

				<!-- Controls -->
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div id="controls" class="text-center col-md-12">
						<!-- Microphone -->
						<div class="col-md-2 col-xs-2">
							<div id="audioSharing" class="icos">
								<img id="btnMicrophone" src="/img/icos/micOff.png" title="<%= __('titleMicrophone') %>">
							</div>
						</div>
						<!-- Video -->
						<div class="col-md-2 col-xs-2">
							<div id="videoSharing" class="icos">
								<img id="btnVideo" src="/img/icos/camOff.png" title="<%= __('titleVideo') %>">
							</div>
						</div>
						<!-- Share Screen -->
						<div class="col-md-2 col-xs-2">
							<div id="" class="icos">
								<img id="btnShare" src="/img/icos/shareOff.png" title="<%= __('titleShareScreen') %>">
							</div>							
						</div>
						<!-- Slides -->
						<div class="col-md-2 col-xs-2">
							<div id="" class="icos">
								<img id="btnSlides" src="/img/icos/slidesOff.png" title="<%= __('titleSlides') %>">
							</div>
						</div>
						<!-- Band Width -->
						<div class="col-md-2 col-xs-2">
							<div id="conexion" class="icos">
								<img id="btnSignal" src="/img/icos/signal0.png" title="<%= __('titleConnection') %>" est="Sin señal."/>
							</div>
						</div>
						<!-- Logout -->
						<div class="col-md-2 col-xs-2">
							<div id="" class="icos">
								<img id="btnLogout" src="/img/icos/logoutOff.png" title="<%= __('titleLogout') %>">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Final High Menu -->

		<!-- User Other -->
		<div id="video-global" class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">					
					<div class="row text-center">

						<video autoplay="true" id="videoUsr2">
							<!-- <source src="/img/video/Prueba021.mp4" type="video/mp4"> -->
						</video>
						<video autoplay="true" id="audioUsr2" style="display: none;"></video>

					</div>
				</div>
			</div>
		</div>
		<!-- Final de video-->

		<!-- Content Share Screen -->
		<div id="share-complete" class="row">
			<div class="col-md-1"></div>

			<!-- Share Screen Section -->
			<div id="share-section" class="col-md-10">
				<!-- Container initial Share Screen -->
				<div class="col-md-12" >
					<div class="col-md-3"></div>
					<div class="col-md-6 text-center">
						<p id="p-shareScreen"><%= __('ShareScreenTitles') %></p>
						<button type="button" id="sharingScreen" class="btn btn-success"><%= __('BtnShareScreen') %></button>
					</div>
					<div class="col-md-3"></div>
				</div>

				<div id="share-container-video" class="col-md-12">
					<video autoplay="true" id="sharingScreenVideoTag" title="<%= __('titleVideoShareScreen') %>">
						<!-- <source src="/img/video/Prueba031.mp4" type="video/mp4"> -->
					</video>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<!-- Final Content Share Screen -->

		<!-- Start Content Slides -->
		<div id="slides-complete" class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>

			<!-- Slides Section -->
			<div id="slides-section" class="col-lg-8 col-md-8 col-sm-8 col-xs-10">
				<div class="col-lg-3 col-md-3 col-sm-1 col-xs-3"></div>

				<!-- Container ProgressBar Slides -->
				<div id="container-progressbar" class="col-lg-6 col-md-6 col-sm-5 col-xs-6">
					<p id="span-progressbar"><%= __('SlidesTitles') %></p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-1 col-xs-3"></div>

				<!-- Container Files Slides -->
				<div class="col-md-12">
					<div class="col-lg-3 col-md-3 col-sm-1 col-xs-12"></div>
					<div id="container-files" class="text-center col-lg-6 col-md-6 col-sm-5 col-xs-12">
						<p id="span-file"><%= __('SlidesDescription') %></p>
						<input accept=".pdf,.ppt,.pptx,.docx,.doc,.xlsx,.xls" id="upload-input" name="uploads" type="file"/>
						<div class="progress">
							<div class="progress-bar" role="progressbar">
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-1 col-xs-12"></div>
				</div>
				
				<!-- Slides container -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="slider-container">
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
		</div>
		<!-- Final Content Slides -->


		<!-- Start Content WhiteBoard -->
		<div id="whiteboard-complete" class="row">
			<div class="col-md-2"></div>
			<div id="whiteboard-section" class="col-md-8">
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-2">
						<p id="p-whiteboard-Title"><%= __('WhiteboardTitles') %></p>
					</div>
					<div class="col-md-5"></div>
				</div>
				<div id="whiteboard-content" class="col-md-12">
					<div id="whiteboard" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
					</div>

					<div id="whiteboard-tools" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<ul class="nav_panel-video" id="menu-panel-video">
							<li class="cabecera_menu-panel-video">
							</li>
							<li class="bor_2">
								<a>
									<img alt="img1" class="img-responsive center-block" id="dBrush" src="img/control-lat1.png"/>
								</a>
							</li>
							<li class="bor_2">
								<a>
									<img alt="img2" class="img-responsive center-block" id="dRect" src="img/control-lat2.png"/>
								</a>
							</li>
							<li class="bor_2">
								<a>
									<img alt="img3" class="img-responsive center-block" id="dLine" src="img/control-lat3.png"/>
								</a>
							</li>
							<li class="bor_2">
								<a>
									<img alt="img4" class="img-responsive center-block" id="dText" src="img/control-lat4.png"/>
								</a>
								<div class="colL_Slides_head_paint_text_content">
									<input class="colL_Slides_head_paint_text_input" id="dText_text" placeholder="Introduzca el texto y haga clic en el tablero" type="text"/>
								</div>
							</li>
							<li class="bor_2">
								<a>
									<img alt="img6" class="img-responsive center-block" id="dBack" src="img/control-lat6.png"/>
								</a>
							</li>
							<li style="position: relative;">
								<a>
									<div class="colL_Slides_head_paint_color_field">
									</div>
								</a>
								<div class="colL_Slides_head_paint_color_fields">
									<div class="slPaintColor1 slPaintColor" data-color="#ffffff">
									</div>
									<div class="slPaintColor2 slPaintColor colorUsedI" data-color="#000000">
									</div>
									<div class="slPaintColor3 slPaintColor" data-color="#fcff00">
									</div>
									<div class="slPaintColor4 slPaintColor" data-color="#017ef4">
									</div>
									<div class="slPaintColor5 slPaintColor" data-color="#ea613d">
									</div>
									<div class="slPaintColor6 slPaintColor" data-color="#72c619">
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		<!-- Final WhiteBoard -->

		<!-- Start Chat -->
		<div id="chat-complete" class="row">
			<div class="col-md-9"></div>
			<div class="col-md-3">
				<div id="chat-content" class="col-md-12">
					<!-- Chat Header --> 
					<div id="chat-header" class="col-md-12">
						<div id="chat-title" class="col-md-12">
							<div class="col-md-10">
								<h3><%= __('ChatTitles') %></h3>
							</div>
							<div class="col-md-2">
								<i id="minimize" class="fa fa-window-minimize" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<!-- Chat Content -->
					<div id="chat-section" class="col-md-12">
						<div class="col-md-12 sec_chat">
							<div id="message_area">	</div>
							<div class="col-md-12 bor_chat"></div>
							<div id="chat-textarea" class="col-md-12">
								<div class="col-md-10">
									<div class="form-group_chat has-feedback">
										<input class="form-control" id="envio" placeholder="Escribe un mensaje aquí" type="text"/>
									</div>
								</div>
								<div class="text-center col-md-2">
									<img id="btnSend" src="/img/icos/sendGreen.png" title="<%= __('titleChatSend') %>">
								</div>
							</div>
							<div id="emojis" class="col-md-12">
								<ul class="nav_chat nav-pills" id="menu_chat">
									<li>
										<a>
											<i class="fa fa-smile-o" aria-hidden="true"></i>
											<div class="container-emoticons">
											</div>
										</a>
									</li>
									<li>
										<a id="Send_btn">
											<i class="fa fa-chevron-right" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Emojis -->

					</div>
					<!-- Final Content Chat -->
				</div>
			</div>
		</div>
		<!--Final del chat-->

	<!-- Start Low Menu -->
	<div class="row">
		<div id="menu-bajo">
			<!-- Information -->
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
				<!-- Information Proyecto -->
				<div id="img-btnInformation" class="icos col-md-6">
					<img id="btnInformation" src="/img/icos/infoOff.png" title="<%= __('titleHelp') %>">
				</div>
				<!-- Settings -->
				<div id="img-btnSettings" class="icos col-md-6">
					<img id="btnSettings" src="/img/icos/settingsOff.png" title="<%= __('titleSettings') %>">
				</div>
			</div>

			<!-- Connection -->
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
				<h4 id="text-conection"><%= __('InfoMe') %></h4>
			</div>
			<!-- Empty -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-1">
				
			</div>
			<!-- Comunication -->
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
				<!-- White Board -->
				<div id="img-btnWhiteBoard" class="icos col-md-6">
					<img id="btnWhiteBoard" src="/img/icos/boardOff.png" title="<%= __('titleWhiteboard') %>">
				</div>
				<!-- Chat -->
				<div id="img-btnChatting" class="icos col-md-6">
					<img id="btnChatting" src="/img/icos/chatOff.png" title="<%= __('titleChat') %>">
				</div>
			</div>
		</div>
	</div>
	<!-- Final Low Menu -->


	<!-- Start Footer -->
	<div class="row">
		<div id="footer">
			<h6 title="<%= __('titleFooter') %>" id="text-footer" class="text-center"><%= __('FooterTitles') %></h6>
		</div>
	</div>
	<!-- Final Footer -->

	<!-- Scripts Funcionales -->
	<script src="https://webrtc01.kubera.co:3002/socket.io/socket.io.js">
	</script>
	<!-- Scripts Dinamicos -->
	<div id="necesaryScripts">
	</div>
	<!-- Script Initial Jquery -->
	<script type="text/javascript">
		var urlKubera;
		var config; 
		var language;

		$(document).ready(function(){

		// TOMAMOS VARIABLES GLOBALES, COMO LO ES LA URL DE KUBERA.
			urlKubera = " <%= urlKubera %>";
			config = "<%= config %>";
			config = config.replace(/&#34;/g,"\"");
			config = $.parseJSON(config);

			language = " <%= languageCatalog %>";
			language = language.replace(/&#34;/g,"\"");
			language = $.parseJSON(language);
			console.log("Language => ", language);

			console.log("JQUERY READY FOR YOU !! ");

		// una vez recuperada la url de kubera, se agregan los js base


			var logicaKuberaWebRTC = document.createElement("script");
			logicaKuberaWebRTC.type = "text/javascript";
			logicaKuberaWebRTC.src = urlKubera + "javascripts/kuberaWebRTCLogic.js";
			$("#necesaryScripts").append(logicaKuberaWebRTC);

			var libAjax = document.createElement("script");
			libAjax.type = "text/javascript";
			libAjax.src = urlKubera + "javascripts/libs-js/libKEOS-ajax.js";
			$("#necesaryScripts").append(libAjax);


			var libDate = document.createElement("script");
			libDate.type = "text/javascript";
			libDate.src = urlKubera + "javascripts/libs-js/libKEOS-date.js";
			$("#necesaryScripts").append(libDate);

			var libIris = document.createElement("script");
			libIris.type = "text/javascript";
			libIris.src = urlKubera + "javascripts/libs-js/libKEOS-irisChat.js";
			$("#necesaryScripts").append(libIris);


			var libAutolinker = document.createElement("script");
			libAutolinker.type = "text/javascript";
			libAutolinker.src = urlKubera + "javascripts/libs-js/Autolinker.js";
			$("#necesaryScripts").append(libAutolinker);

			var logicaChat = document.createElement("script");
			logicaChat.type = "text/javascript";
			logicaChat.src = urlKubera + "javascripts/chatLogic.js";
			$("#necesaryScripts").append(logicaChat);

		});

	</script>
</body>
</html>
