<!DOCTYPE html>
<html>
    <head>
        <title>
            Lenguage Example
        </title>
        <script src="https://localhost:3001/javascripts/libs-js/jquery-3.2.1.min.js ">
        </script>
    </head>
    <body>
        <h1>
            This is a text taken of language system: <%= __('hello_world') %>
        </h1>
        <div id="necesaryScripts">
        </div>
        <script type="text/javascript">
            var language;

		$(document).ready(function(){

 language = " <%= languageCatalog %>";
language = language.replace(/&#34;/g,"\"");
language = $.parseJSON(language);
console.log(language);

var helloworld = " <%= __('hello_world') %>";
console.log("This is a text taken of language system from jquery onPage:" + helloworld);


		});
        </script>
    </body>
</html>