/*** Styles Generals ***/

/** Styles Tags **/
body {
	padding: 0px;
	font-family: 'Open Sans',sans-serif;
	font-size: 13px;
	line-height: 21px;
	font-weight: 400;
	color: #4c4c4c;
	background-color: #000;
}

a {
  color: #00B7FF;
}


/** Header **/

#header {
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 2
}

#tiger {
	width: 65%;
}


/** Menu Global **/

#menu-global {
	position: relative;
	top: 58px;
	margin: 0px;
	width: 100%;
}

#video-global {
	position: absolute;
	top: 30px;
	margin: 0px;
	width: 100%;
	z-index: -2;
}

/** Menu bajo **/
#menu-bajo {
	position: fixed;
	left: 0px;
	bottom: 19px;
	height: 50px;
	width: 100%;
	background: rgba(0, 0, 0, 0.65);
	z-index: 2;
}

#text-menu-bajo{
	font-size: 10px;
	color: white;
}

#text-conection {
	color: white;
	font-weight: bold;
	padding: 10px;
}

/** Footer **/

#footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 20px;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	z-index: 2
}

#text-footer{
	font-size: 10px;
	color: #f9b729;
	margin: 6px 0px;
	font-weight: bold;
}

/** Video Me **/

.mini-cameras {
	width: 210px !important;
	margin: 3px !important;
	padding: 2px;
	height: auto;
	border: white 2px solid;
	border-radius: 10px;
	cursor: pointer;
}

/** Video Other **/

#videoUsr2 {
	width: 92%;
	margin: 20px;
}

/** Controls **/

#controls {
	color: white;
	font-weight: bold;
	padding: 7px;
	border: white 2px solid;
	border-radius: 10px;
	font-size: 20px;
	margin: 2px;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
}

.icos {
	cursor: pointer;
	padding: 2px 0px;
}

#extras {
	margin: 0px;
	padding: 0px
}

#information {
	margin: 0;
	padding: 0px 10px;
}

#settings{
	margin: 0;
	padding: 0px 10px;
}

#timer {
	color: white;
	font-weight: bold;
	border: white 2px solid;
	border-radius: 10px;
	font-size: 20px;
	text-align: center;
	margin: 2px;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 10px;
}

/** Modals **/

.sweet-alert button {
	background-color: #f9b729 !important;
	color: #693f24 !important;
}

.sweet-alert button:hover {
	background-color: #f37a63 !important;
	color: white !important;
}

.sweet-alert h2 {
	color: #6b3f22;
	font-size: 30px;
	text-align: center;
	font-weight: 600;
	text-transform: none;
	position: relative;
	margin: 25px 0;
	padding: 0;
	line-height: 40px;
	display: block;
}

/** Slider **/

#slider-container {
	background-color: #fff;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 700px;
	height: auto;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#slides-complete {
	position: relative;
	width: 100%;
	margin: 0px;
	display: none;
	z-index: 0;
}

#slides-section {
	border: white solid 2px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.75);
	margin: 10px;
}

#container-files {
	margin: 0px 0px;
}

#span-file {
	color: #fff;
	font-weight: bold;
	padding: 0;
	margin: 5px;
}

#upload-input {
	position: relative;
	margin: 3px auto;
}

#container-progressbar {
	margin: 10px 0px;
}

.progress {
	height: 20px;
	overflow: hidden;
	margin: 5px;
	background-color: #f5f5f5;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

#span-progressbar {
	color: #ffb718;
	font-size: 30px;
	text-align: center;
	margin: 0;
}

.btn-success {
	color: #693f24;
	background-color: #f9b729;
	border-color: #fff;
	font-weight: bold;
}

.btn-success:hover {
	background-color: #f37a63;
	color: #fff;
	border-color: #f37a63;
	font-weight: bold;
}

.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
	color: #fff;
	background-color: #f37a63;
	border-color: #f37a63;
	font-weight: bold;
}

/** Share Screen **/

#share-complete {
	width: 100%;
	position: relative;
	margin: 0;
	display: none;
	z-index: 0;
}

#share-section {
	border: white solid 0px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.75);
	margin: 5px;
}

#share-container-video {
	height: 710px;
	margin: 5px;
	border: solid white 3px;
	border-radius: 10px;
}

#sharingScreenVideoTag {
	height: 100%;
	width: 100%;
}

#p-shareScreen {
	color: #ffb718;
	font-weight: bold;
	font-size: 18px;
	margin: 5px;
}

/** WhiteBoard **/

#btnWhiteBoard {
	display: none;
}

#whiteboard-complete {
	width: 100%;
	position: relative;
	margin: 0;
	display: none;
}

#whiteboard {
	background-color: #fff;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
}

#whiteboard-content {
	border: white solid 2px;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#whiteboard-section {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 10px;
}

#whiteboard-tools {
	margin-top: 20px;
	margin-bottom: 20px;
}

#p-whiteboard-Title {
	color: #ffb718;
	font-weight: bold;
	font-size: 25px;
	margin: 10px 0px;
	position: relative;
	left: 17%;
}

/** Chat **/

#chat-complete {
	width: 100%;
	position: fixed;
	bottom: 70px;
	left: 0;
	margin: 0;
	display: none;
}

#chat-complete > .col-md-2 {
	padding: 0;
}

#chat-content {
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	margin: 0;
	padding: 0;
	right: 5px;
	z-index: 5
}

#chat-header {
	margin: 0;
	padding: 0;

}

#chat-title {
	text-align: center;
	border: 1px solid #f9b729;
	background: #f9b729;
	font-size: x-large;
	color: #6b3f22;
	margin: 0px 0px;
	border-radius: 10px;
	font-weight: 800;
}

#chat-title > .col-md-10 > h3 {
	font-weight: bold;
}

#emojis {
	padding: 0;
	margin: 0;
	display: none;
}

#chat-textarea {
	padding: 0;
}

#chat-textarea > .col-md-10 {
	padding: 0;
}

#chat-textarea > .col-md-2 {
	padding: 0;
}


#btnSend {
	padding: 4px;
	width: 60%;
	cursor: pointer;
}

#message_area {
	height: 500px;
	overflow-y: scroll;
}

.sec_chat {
	margin: 0;
	padding: 0;
	background: white;
}

.emisor {
	background: #dfedc7;
	border-radius: 20px;
	color: #5d5d5d;
	display: inline-block;
	font-family: ;
	position: relative;
	float: right;
	padding: 8px 10px 8px 10px;
	font-size: 12px;
}

.emisor::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #dfedc7;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	margin-top: 24px;
	left: 70%;
}

.receptor {
	background: #FFF0C3;
	border-radius: 20px;
	color: #5d5d5d;
	display: inline-block;
	font-family: ;
	position: relative;
	float: left;
	padding: 8px 14px 8px 14px;
	font-size: 12px;
}

.receptor::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #FFF0C3;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	margin-top: 24px;
	left: 30%;
}

.hora_a {
	float: right;
	margin-top: 1px;
	margin-bottom: 3px;
	font-size: 9px;
	color: #8f8f8f;
}

.hora_b {
	float: left;
	margin-top: 1px;
	margin-bottom: 3px;
	font-size: 9px;
	color: #8f8f8f;
}

#numMesagges {
	position: relative;
	top: -60px;
	color: #3c763d;
	font-size: 20px;
	background: #fff;
	border: 2px solid #fff;
	border-radius: 20px;
	margin: 0px;
	width: 32px;
	height: 32px;
	padding: 4px 8px;
	text-align: right;
	left: 50%;
}

#minimize {
position: relative;
    cursor: pointer;
    font-size: 15px;
    color: #6b3f22;
    margin: 20px 7px;
}




@media only screen and (max-width: 1440px) {
	#btnSettings {
		width: 85%;
	}

	#btnInformation {
		width: 85%;
	}

	#btnWhiteBoard {
		width: 85%;
	}

	#btnChatting {
		width: 85%;
	}
}

@media only screen and (max-width: 1330px) {
	#btnSettings {
		width: 85%;
	}

	#btnInformation {
		width: 85%;
	}

	#btnWhiteBoard {
		width: 85%;
	}

	#btnChatting {
		width: 85%;
	}
	#message_area {
	    height: 300px;
	    overflow-y: scroll;
	}
}

@media only screen and (max-width: 1280px) {
	#btnSettings {
		width: 85%;
	}

	#btnInformation {
		width: 85%;
	}

	#btnWhiteBoard {
		width: 85%;
	}

	#btnChatting {
		width: 85%;
	}
	#message_area {
	    height: 300px;
	    overflow-y: scroll;
	}
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 360px) {
	.mini-cameras {
		width: 150px !important;
		padding: 2px;
		height: auto;
		border: white 2px solid;
		border-radius: 10px;
		cursor: pointer;
		margin: 0px 13px !important;
	}

	#tiger {
		width: 100%;
	}
	#menu-global {
		position: relative;
		top: 45px;
		margin: 0px;
		width: 100%;
	}
	#controls {
		color: white;
		font-weight: bold;
		padding: 7px;
		border: white 2px solid;
		border-radius: 10px;
		font-size: 20px;
		margin: 2px;
		background-color: rgba(0, 0, 0, 0.75);
		width: 100%;
		height: 70px;
	}

	#controls > .col-xs-2 {
		width: 16.66666667%;
		padding: 0;
	}

	#videoUsr2 {
		width: 100%;
		margin: 0px;
	}

	#video-global {
		position: absolute;
		top: 230px;
		margin: 0px;
		width: 100%;
		z-index: -2;
	}

	#timer {
		color: white;
		font-weight: bold;
		border: white 2px solid;
		border-radius: 10px;
		font-size: 20px;
		text-align: center;
		margin: 2px;
		background-color: rgba(0, 0, 0, 0.75);
		padding: 10px;
		position: relative;
		left: 24%;
		top: 17px;
	}

	#share-container-video {
		height: auto;
		margin: 5px;
		border: solid white 3px;
		border-radius: 10px;
	}
	#share-complete {
		width: 100%;
		position: relative;
		margin: 0;
		display: none;
		z-index: 2;
		top: 50px;
	}
	#slides-complete {
		position: relative;
		width: 100%;
		margin: 0px;
		display: none;
		z-index: 4;
		top: 60px;
	}
	#slides-section {
		border: white solid 2px;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.75);
		margin: 0;
		padding: 0;
	}
	#container-files {
		margin: 0px 0px;
		padding: 0;
	}
	#span-file {
		color: #fff;
		font-weight: bold;
		padding: 0;
		margin: 5px;
		font-size: 12px;
	}
	#menu-bajo {
		position: fixed;
		left: 0px;
		bottom: 85px;
		height: 50px;
		width: 100%;
		background: rgba(0, 0, 0, 0.65);
		z-index: 2;
	}
	#text-conection {
		color: white;
		font-weight: bold;
		padding: 4px;
		font-size: 15px;
		width: 133%;
		text-align: center;
		position: relative;
		top: 27px;
		right: 8px;
	}
}







.nav_panel-video {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav_panel-video > li > a {
	position: relative;
	display: block;
	padding: 10px 4px 10px 8px;
}

.nav_panel-video > li > a:hover {
	position: relative;
	display: block;
	padding: 10px 4px 10px 8px;
	opacity: 0.50;
}

.cabecera_menu-panel-video {
	background: #b3b3b3;
	height: 17px;
}


.colL_Slides_head_paint_text_content {
	display: none;
	position: absolute;
	top: 10%;
	width: 280px;
	right: -285px;
	border: 2px solid #B3B3B3;
	z-index: 99;
	border-radius: 2px;
}

.colL_Slides_head_paint_text_input {
	width: 100%;
	border: none;
	border-radius: 2px;
	padding: 5px;
	outline: none;
}

.colL_Slides_head_paint_color_field {
	margin: 0 auto;
	width: 30px;
	height: 22px;
	background: #000000;
	border: 2px solid #999999;
	cursor: pointer;
	margin-bottom: 5px;
}

.colL_Slides_head_paint_color_field:before {
	display: block;
	content: "";
	position: absolute;
	bottom: 8px;
	right: 15px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #999999;
}

.colL_Slides_head_paint_color_fields {
	display: none;
	position: absolute;
	width: 30px;
	border: 1px solid #999999;
	background: #FFFFFF;
	top: 35px;
	right: 10px;
	z-index: 11;
}

.colL_Slides_head_paint_color_fields > div {
	width: 28px;
	height: 28px;
	border: 1px solid #B3AFAF;
	cursor: pointer;
}


div.slPaintColor1 {
	background: #fff;
}

div.slPaintColor2 {
	background: #000;
}

div.slPaintColor3 {
	background: #fcff00;
}

div.slPaintColor4 {
	background: #017ef4;
}

div.slPaintColor5 {
	background: #ea613d;
}

div.slPaintColor6 {
	background: #72c619;
}

.colorUsedI {
	border: 1px solid #000000;
}


